@import "../vars/vars.scss";

.wrapper {
  @include f-column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  @include font-header;
  background-color: $main-orange-color;

  width: 100%;
  left: 0;
  top: 35;
  z-index: 50;

  &__row {
    @include f-center;
    min-height: 100px;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  &__logo-image {
    img {
      max-width: 100%;
    }

    //position: absolute;
    // left: 50%;
    // top: 15%;
    transform: translateX(-50%);
    display: flex;
    max-width: 90px;
  }

  &__menu {
    margin: 0px 20px;
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }

  &__menu-item {
    align-self: center;
  }

  &__menu-item_l {
    padding: 0px 110px 0px 35px;
  }

  &__menu-item_r {
    padding: 0px 35px 0px 25px;
  }

  &__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 105%;

    text-transform: uppercase;
    color: rgba(243, 243, 243, 1);

    &:hover {
      color: rgba(87, 162, 83, 0.979);
    }
  }
}

li {
  padding: 0px 35px;
}