@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Roboto Slab", serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: #f08700;
  z-index: 5;
}

.header {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__body {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 130px;
  align-items: center;
  padding: 15px 0px;
}
.header__burger {
  display: none;
}
.header__logo-b {
  display: none;
}
.header__logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  display: flex;
  max-width: 110px;
  z-index: 5;
}
.header__logo-image img {
  max-width: 100%;
  display: block;
}
.header__menu {
  margin: 0px 20px;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 5;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0px;
}
.header__item {
  align-self: center;
}
.header__item_l {
  padding: 0px 110px 0px 35px;
}
.header__item_r {
  padding: 0px 35px 0px 25px;
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  text-transform: uppercase;
  color: rgb(243, 243, 243);
}
.header__link:hover {
  color: rgba(87, 162, 83, 0.979);
}

li {
  padding: 0px 35px;
}

@media (max-width: 810px) {
  li {
    padding: 0px 25px;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header::before {
    height: 100px;
  }
  .header__logo-b {
    display: flex;
    margin-left: 30px;
  }
  .header__logo-image-b {
    flex: 0 0 70px;
    z-index: 5;
  }
  .header__logo-image-b img {
    max-width: 100%;
    display: block;
  }
  .header__body {
    justify-content: space-around;
    min-height: 100px;
    padding: 15px;
  }
  .header__logo {
    display: none;
  }
  .header__item {
    padding: 0px 0px 0px 80px;
  }
  .header__item_l {
    padding: 0px 0px 0px 80px;
  }
  .header__item_r {
    padding: 0px 0px 0px 80px;
  }
  .header__link {
    font-size: 24px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding-right: 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: rgb(243, 243, 243);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active {
    max-width: 1230px;
    margin: 0px auto;
    padding: 0px 15px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: rgb(243, 243, 243);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: cadetblue;
    background: url("../../images/imagesHeader/500.jpg");
    border-radius: 20px;
    padding: 120px 10px 20px 10px;
    width: 311px;
    height: 500px;
    margin: 0px 15px;
    z-index: 4;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 630px) {
  .header__menu {
    background: url("../../images/imagesHeader/400.jpg");
    width: 249px;
    height: 400px;
  }
  .header__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 105%;
  }
}
@media (max-width: 480px) {
  .header__menu {
    background: url("../../images/imagesHeader/300.jpg");
    width: 187px;
    height: 300px;
  }
  .header__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
  }
  .header__item {
    padding: 0px 0px 0px 50px;
  }
  .header__item_l {
    padding: 0px 0px 0px 50px;
  }
  .header__item_r {
    padding: 0px 0px 0px 50px;
  }
  .header__list li {
    margin: 0px 0px 15px 0px;
  }
}/*# sourceMappingURL=styleHeader.css.map */