@import "../vars/vars.scss";

.header {
  @include font-header;
  background-color: $main-orange-color;

  width: 100%;

  &__row {
    @include f-center;
    min-height: 100px;
    align-items: center;
    padding: 15px 0px;
  }

  &__logo-image {
    transform: translateX(-50%);
    display: flex;
    max-width: 90px;
    img {
      max-width: 100%;
    }
  }

  &__menu {
    margin: 0px 20px;
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }

  &__menu-item {
    align-self: center;
  }

  &__menu-item_l {
    padding: 0px 110px 0px 35px;
  }

  &__menu-item_r {
    padding: 0px 35px 0px 25px;
  }

  &__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 105%;

    text-transform: uppercase;
    color: rgba(243, 243, 243, 1);

    &:hover {
      color: rgba(87, 162, 83, 0.979);
    }
  }
}

li {
  padding: 0px 35px;
}
