* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
  background-color: rgb(244, 141, 72);
  position: fixed;
  width: 100%;
  left: 0;
  top: 35;
  z-index: 50;
}
.header__row {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin: 20px 0px;
}
.header__logo-image {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  display: flex;
  max-width: 90px;
}
.header__logo-image img {
  max-width: 100%;
}
.header__menu {
  margin: 0px 20px;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.header__menu-item_l {
  padding: 0px 130px 0px 35px;
}
.header__menu-item_r {
  padding: 0px 35px 0px 120px;
}
.header__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  text-transform: uppercase;
  color: rgb(243, 243, 243);
}

li {
  padding: 0px 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.image__block {
  display: flex;
  min-height: 908px;
  background: url("../../images/imagesMain/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.name {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
  text-align: center;
  margin-top: -500px;
  position: relative;
  z-index: 3;
}
.name__body {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  min-height: 1200px;
  background-color: rgb(244, 141, 72);
}
.name__top {
  flex: 1 1 auto;
}
.name__top-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 105%;
  text-transform: uppercase;
  padding: 40px 0px;
}
.name__top-text {
  padding-bottom: 20px;
}
.name__top-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  background-color: rgb(244, 141, 72);
}
.name__image {
  display: flex;
  margin: 0 auto;
  max-width: 462px;
  padding-bottom: 40px;
}
.name__image img {
  width: 100%;
}

.button {
  border-radius: 37px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  color: rgb(243, 243, 243);
  background-color: rgb(114, 136, 84);
}

.button:hover {
  background: rgb(243, 243, 243);
  color: rgb(98, 99, 55);
}

.about {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
  background-color: rgb(159, 127, 105);
  margin-top: -700px;
}
.about__container {
  margin-bottom: 30px;
}
.about__body {
  display: flex;
  min-height: 900px;
}
.about__name {
  font-weight: 800;
  font-size: 150px;
  line-height: 105%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding: 30px 0px;
  position: relative;
  z-index: 5;
}
.about__left {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
}
.about__left-content {
  flex: 1 1 auto;
}
.about__title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 105%;
  text-transform: uppercase;
  padding: 10px 0px;
}
.about__text {
  padding: 20px;
}
.about__image {
  display: flex;
  margin: 0 auto;
  max-width: 462px;
  padding: 20px;
}
.about__image img {
  width: 100%;
}
.about__right {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
}
.about__right-content {
  transform: translateY(500px);
  margin-bottom: 20px;
}/*# sourceMappingURL=styleMain.css.map */