@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
  background-color: rgb(244, 141, 72);
  position: fixed;
  width: 100%;
  left: 0;
  top: 35;
  z-index: 50;
}
.header__row {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin: 20px 0px;
}
.header__logo-image {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  display: flex;
  max-width: 90px;
}
.header__logo-image img {
  max-width: 100%;
}
.header__menu {
  margin: 0px 20px;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.header__menu-item_l {
  padding: 0px 130px 0px 35px;
}
.header__menu-item_r {
  padding: 0px 35px 0px 120px;
}
.header__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 105%;
  text-transform: uppercase;
  color: rgb(243, 243, 243);
}

li {
  padding: 0px 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: rgb(243, 243, 243);
  font-family: Montserrat;
}

.review img {
  width: 30%;
  height: 30%;
}

.price {
  display: flex;
  flex-direction: column;
}
.price__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3%;
}
.price__info {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 5% 10% 5%;
}
.price__info ol {
  list-style: none;
  padding-left: 0rem;
}
.price__info ol > li {
  padding-left: 20px;
  position: relative;
  margin: 5px 5px 5px 8px;
}
.price__info ol > li:before {
  content: "✔";
  position: absolute;
  left: -10px;
}
.price__info .no:before {
  content: "❌";
  position: absolute;
}
.price__info-bag {
  text-align: center;
  width: 100%;
  box-shadow: -1px 10px 10px 0px rgba(0, 0, 0, 0.171);
  border-radius: 20px;
}
.price__info-bag-description-details {
  text-align: start;
  padding-left: 10px;
}
.price__info-bag-description-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.price__info-bag-description-rate {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 115, 0);
  padding-bottom: 5px;
}
.price__info-bag-description:hover {
  background: rgba(45, 252, 73, 0.1921568627);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: -1px 20px 10px 0px rgba(0, 0, 0, 0.212);
}
.price__info .bag-light,
.price__info .bag-standard {
  margin-right: 5%;
}
.price__info .btn {
  margin-bottom: 10px;
  cursor: pointer;
  color: #030303;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border: 1px solid;
  border-radius: 67px;
  width: 10vw;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.price__info .btn:hover {
  background: rgba(255, 166, 0, 0.788);
  border: none;
  box-shadow: 0px 5px 5px rgba(255, 0, 0, 0.212);
}/*# sourceMappingURL=styleMain.css.map */