@import "../vars/vars.scss";
@import "../styleHeader/styleHeader.scss";
@import "../styleFooter/styleFooter.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

//---------------------------main__block------------------------
.image__block {
  display: flex;
  min-height: 908px;
  background: url("../../images/imagesMain/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

//-------------------------name-------------------------
.name {
  display: flex;
  flex-direction: row-reverse;
  @include font-header;
  text-align: center;
  margin-top: -500px;
  position: relative;
  z-index: 3;

  &__body {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    min-height: 1200px;
    background-color: rgba(244, 141, 72, 1);
  }
  &__top {
    flex: 1 1 auto;
  }

  &__top-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 105%;
    text-transform: uppercase;
    padding: 40px 0px;
  }

  &__top-text {
    padding-bottom: 20px;
  }

  &__top-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    background-color: rgba(244, 141, 72, 1);
  }

  &__image {
    img {
      width: 100%;
    }
    display: flex;
    margin: 0 auto;
    max-width: 462px;
    padding-bottom: 40px;
  }
}
.button {
  border-radius: 37px;
  margin: 10px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  min-height: 48px;
  letter-spacing: 0.2px;

  font-weight: 400;
  font-size: 16px;
  line-height: 105%;

  text-transform: uppercase;
  text-align: center;
  color: rgba(243, 243, 243, 1);
  background-color: rgba(114, 136, 84, 1);
}
.button:hover {
  background: rgba(243, 243, 243, 1);
  color: rgba(98, 99, 55, 1);
}
//--------------------------------about--------------------------
.about {
  @include font-header;
  background-color: rgba(159, 127, 105, 1);
  margin-top: -700px;

  &__container {
    margin-bottom: 30px;
  }
  &__body {
    display: flex;
    min-height: 900px;
  }
  &__name {
    font-weight: 800;
    font-size: 150px;
    line-height: 105%;

    letter-spacing: -0.04em;
    text-transform: uppercase;
    padding: 30px 0px;
    position: relative;
    z-index: 5;
  }

  &__left {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
  }
  &__left-content {
    flex: 1 1 auto;
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 105%;
    text-transform: uppercase;
    padding: 10px 0px;
  }

  &__text {
    padding: 20px;
  }

  &__image {
    img {
      width: 100%;
    }
    display: flex;
    margin: 0 auto;
    max-width: 462px;
    padding: 20px;
  }

  &__right {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
  }
  &__right-content {
    transform: translateY(500px);
    margin-bottom: 20px;
  }
}
//------------------------------------------
