@import "../vars/vars.scss";
footer {
    font-family: $main-font;
    // background-color: #D9D9D9;
    background: url("../../images/imagesFooter/bgкопия.jpeg");
    .footer__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 40px;
        .logo {
            max-width: 100px;
            border-radius: 50px;
        }
        .footer__nav {
            display: flex;
            justify-content: space-between;
            padding-bottom: 70px;
            .footer__nav-right {
                display: flex;
                justify-content: space-between;
                flex-basis: 42%;
                gap: 80px;
                .footer__nav-contacts {
                    display: flex;
                    flex-direction: column;
                    a {
                        font-weight: 400;
                        font-size: 17px;
                        text-decoration: none;
                        color: #ffff;
                        padding-bottom: 5px;
                    }
                }
                .hover {
                    a:hover {
                        color: #191715;
                    }
                }
            }
            .footer__nav-social {
                .footer-social {
                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}